<section class="landing-hero-wrapper">
  <div class="landinghero">
    <div class="landinghero-bg pinkbg"></div>
		<div class="landinghero-content">
			<h2>PENSION</h2>
			<span>
				<h3>
				<fa-icon [icon]="icon" class="fa-lg"></fa-icon>
				<hr>
				</h3>
				<h2>MANAGEMENT</h2>
			</span>
			<div class="quote">
				"Don't simply retire from something. Have something to retire to."
				<p></p>
				- Harry Emerson
			</div>
			<!-- <img src="https://wallpapercave.com/wp/wp7871822.jpg" alt="picture"> -->
			<div class="landing-bottomleft_deco"><span></span></div>
			<img src="https://wallpapercave.com/wp/wp7871822.jpg" alt="picture">
		</div>
  </div>
</section>